@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Latest Products";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId"> @Html.DisplayFor(modelItem => item.Title) </a>
            </td>
        </tr>
        }
    </tbody>
</table>